

:root {
  --preto:#2F2F39;
}

h3,p{
  font-family: 'Open Sans','Courier New', Courier, monospace;
}

h3{
  color: #2D5EF5;
}

a{
  text-decoration: none;
  color: #2F2F39;
}

header {
  width:100vw;
  height: 60px;
  background-color: white;
  margin: auto;
	display: flex;
}

#linksheader{
  float: right;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:center ;

}

#linksheader ul {
  list-style: none;
  
}
  
#linksheader li {
  display: inline;
  padding: 10px;
  color: #2F2F39;
  
}

#linksheader li:hover{
  cursor: pointer;
  margin: 2vw;
  border-bottom: 2px lightgray solid;
  
  
  
}

#backheader{
  width: 100vw;
  height: 120px;
  background-color: white;
  border-bottom: 1px solid lightgray ;
  
  
}

#imgheader{
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
  
}

#logoheader{
  background-color: #2F2F39;
}

footer{
  width: 100vw;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
}

#textinformation{
  width: 40vw;
  text-align: left;
}

.chargingbord{
  
  display:none;
}

#loja{
  width: 100vw;
  height: 300px;
  align-items: center;
  justify-content:center ;

}

#partmagalu{
  width: 15vw;
  height:50px;
  border-radius: 14px;
  background-image: url(img/partmagalu.webp);
  background-position: center center;
  background-size: cover;
  margin-right: 1vw;
  
}

#partmagalu:hover{
  margin-bottom: 10px;
  cursor: pointer;
  transform: scale(1.1);
  border: 1px lightgrey solid;
}

#buttosviewloja{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0vw;
  height: 120px;

}

#viewloja{
  width: 0vw;
  height: 120px;
  border-top: 1px lightgray solid;
  background-color: var(--preto);
  display: none;
}

#partaz{
  width: 15vw;
  height: 50px;
  border-radius: 14px;
  background-image: url(img/partaz.webp);
  background-position: center center;
  background-size: cover;
  margin-left: 1vw;
  
}

#partaz:hover{
  margin-bottom: 10px;
  cursor: pointer;
  transform: scale(1.1);
  border: 1px lightgrey solid;
}

#conteinerinfosite {
  width: 90vw;
  margin: auto;
}

#inforsite{
  float: left;
  width: 45vw;
  height: 500px;
  text-align: center;
  margin-top:5vh;
  
}

#imginfosite {
  background-image: url(img/Design-sem-nome-_2_.webp) ;
  width: 40vw;
  float: right;
  height:500px ;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:5vh;
  border-radius: 12px;
}

#infojob{
  width: 100vw;
  height: 500px ;
} 

#infoloja{
  width: 90vw;
  margin: auto;
}

#imgloja{
  background-image: url(img/newloja.svg) ;
  width: 40vw;
  float: left;
  height:400px ;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:5vh;
  border-radius: 12px;
}

#textloja{
  float: right;
  width: 45vw;
  height: 400px;
  text-align: center;
  margin-top:5vh;
}

#imgserviço{
  background-image: url(img/serviçosphotos.svg) ;
  width: 40vw;
  float: right;
  height:400px ;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:5vh;
  border-radius: 12px;
}

#infoserviço{
  width: 90vw;
  margin: auto;
}

#textserviço{
  float: left;
  width: 45vw;
  height: 400px;
  text-align: center;
  margin-top:5vh;
}

#infocontatos{
  width: 90vw;
  margin: auto;
}

#imgcontatos{
  background-image: url(img/contatosphotos.svg) ;
  width: 40vw;
  float: left;
  height:400px ;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:5vh;
  border-radius: 12px;
}

#textcontatos{
  float: right;
  width: 45vw;
  height: 400px;
  text-align: center;
  margin-top:5vh;
}

#infotrein{
  width: 90vw;
  margin: auto;
}

#treinimg{
  background-image: url(img/treinamenos.svg) ;
  width: 40vw;
  float: right;
  height:400px ;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:10vh;
  border-radius: 12px;
}

#texttrein{
  float: left;
  width: 45vw;
  height: 400px;
  text-align: center;
  margin-top:5vh;
}

