

:root {
  --preto:#172026;
}

header {
  width:100vw;
  height: 60px;
  background-color: white;
  margin: auto;
	display: flex;
}

#linksheader{
  float: right;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:center ;

}

#linksheader ul {
  list-style: none;
  
}
  
#linksheader li {
  display: inline;
  padding: 10px;
  
  
  
}

#linksheader li:hover{
  cursor: pointer;
  margin: 2vw;
  border-bottom: 2px lightgray solid;
  
  
}

#backheader{
  width: 100vw;
  height: 120px;
  background-color: white;
  border-bottom: 1px solid lightgray ;
  
  
}

#imgheader{
  width: 120px;
  height: 120px;
  display: block;
  margin: auto;
}

footer{
  width: 100vw;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--preto);
  color: white;
}

#textinformation{
  width: 40vw;
  text-align: left;
}

.chargingbord{
  
  display:none;
}

#loja{
  width: 100vw;
  height: 300px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content:center ;
  
}

#partmagalu{
  width: 15vw;
  height:50px;
  border: 1px solid black;
  border-radius: 14px;
  background-image: url(img/partmagalu.webp);
  background-position: center center;
  background-size: cover;
  margin-right: 1vw;
}

#partmagalu:hover{
  margin-bottom: 10px;
  cursor: pointer;
}

#partaz{
  width: 15vw;
  height: 50px;
  border: 1px solid black;
  border-radius: 14px;
  background-image: url(img/partaz.webp);
  background-position: center center;
  background-size: cover;
  margin-left: 1vw;
}

#partaz:hover{
  margin-bottom: 10px;
  cursor: pointer;
}